.header {
  background-color: #141618;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  > * {
    margin: 10px;
  }
}

.logo {
  position: relative;
  width: 400px;
  height: 80%;
  @media screen and (max-width: 600px) {
    width: 200px;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 600px) {
    overflow: scroll;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  > * {
    font-size: large;
    margin: 5px;
    color: white;
    @media screen and(max-width: 600px) {
      font-size: medium;
    }
  }
}
