.logo {
  width: 400px;
  height: 400 * 0.3px;
  position: relative;
  margin: auto;
  max-width: 100%;
}
.main {
  background-image: url("/circuit1.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
  text-align: center;
  :first-child{
    padding: 20vh 0;
  }
  h2 {
    font-size: 4rem;
    @media screen and(max-width: 600px) {
      font-size: 2.5rem;
    }
  }
  h3 {
    font-size: 2rem;
    @media screen and(max-width: 600px) {
      font-size: 1.5rem;
    }
  }
}
